# Supabase (Optional - remove if not using backend)
NEXT_PUBLIC_SUPABASE_URL=https://xctlfuhwnhknzqqibmgm.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_6aXDn6RNRV4FoTIqJQchoA_wAQwJRwJ


# Add more environment variables as needed
# STRIPE_SECRET_KEY=sk_...
# SMTP_HOST=smtp.sendgrid.net
# SMTP_USER=your_smtp_user
# SMTP_PASS=your_smtp_password
